/* ------------------  services css --------------*/



/* .service-card {
  transition: transform 2s ease;
}

.service-card:nth-child(2) {
  transition-delay: 1s;
}

.service-card:nth-child(3) {
  transition-delay: 2s;
}

.service-card:nth-child(4) {
  transition-delay: 3s;
} */

.card1 {
    width: 15rem;
    height: 17rem;
    /* border: 1px solid #ccc; */
    border-radius: 10px;
    overflow: hidden;
    position: relative;
    background-image: url("/web1.png");
    background-repeat: no-repeat;
    background-size: 100px;
    background-position: center;
    /* background-size: cover; */
  }
  
  /* .card1-content {
          padding: 20px;
          opacity: 1;
          transition: opacity 0.3s;
        } */
  
  .card1-overlay {
    position: absolute;
    top: 0%;
    width: 100%;
    height: 100%;
    background-color: #ffc6c4;
    color: #000000;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 0.3s;
  }
  
  .card1:hover .card1-content {
    opacity: 0;
  }
  
  .card1:hover .card1-overlay {
    opacity: 2;
  }
  
  
  .card2 {
    width: 17rem;
    height: 15rem;
    /* border: 1px solid #ccc; */
    border-radius: 10px;
    overflow: hidden;
    position: relative;
    background-image: url("/mobile1.png");
    background-repeat: no-repeat;
    background-size: 100px;
    background-position: center;
    /* background-size: cover; */
  }
  
  /* .card1-content {
          padding: 20px;
          opacity: 1;
          transition: opacity 0.3s;
        } */
  
  .card2-overlay {
    position: absolute;
    top: 0%;
    width: 100%;
    height: 100%;
    background-color: #acd7b5;
    color: #000000;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 0.3s;
  }
  
  .card2:hover .card2-content {
    opacity: 0;
  }
  
  .card2:hover .card2-overlay {
    opacity: 1;
  }
  
  
  
  .card3 {
    width: 17rem;
    height: 15rem;
    /* border: 1px solid #ccc; */
    border-radius: 10px;
    overflow: hidden;
    position: relative;
    background-image: url("/uxui.png");
    background-repeat: no-repeat;
    background-size: 100px;
    background-position: center;
    /* background-size: cover; */
  }
  
  /* .card1-content {
          padding: 20px;
          opacity: 1;
          transition: opacity 0.3s;
        } */
  
  .card3-overlay {
    position: absolute;
    top: 0%;
    width: 100%;
    height: 100%;
    background-color: #ffd6a5;
    color: #000000;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 0.3s;
  }
  
  .card3:hover .card3-content {
    opacity: 0;
  }
  
  .card3:hover .card3-overlay {
    opacity: 1;
  }
  
  .card4 {
    width: 17rem;
    height: 15rem;
    /* border: 1px solid #ccc; */
    border-radius: 10px;
    overflow: hidden;
    position: relative;
    background-image: url("/brainstorming 1.png");
    background-repeat: no-repeat;
    background-size: 100px;
    background-position: center;
    /* background-size: cover; */
  }
  
  /* .card1-content {
          padding: 20px;
          opacity: 1;
          transition: opacity 0.3s;
        } */
  
  .card4-overlay {
    position: absolute;
    top: 0%;
    width: 100%;
    height: 100%;
    background-color: #caffbf;
    color: #000000;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 0.3s;
  }
  
  .card4:hover .card4-content {
    opacity: 0;
  }
  
  .card4:hover .card4-overlay {
    opacity: 1;
  }
  

  /* unused ball container*/

  

/* .ball-container {
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 70vh;
        max-height: 90vh;
      }
      
      .ball {
        width: 160px;
        height: 160px;
        background: radial-gradient(farthest-corner at 60px 45px, #aaa 0%, #8BD3E5 50%);
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        animation: bounce 2s infinite ease-in-out;
      }
      .ball {
        background: radial-gradient(farthest-corner at 60px 45px, #aaa 0%, black 50%);
        border-radius: 50%;
        height: 200px;
        width: 200px;
      }
      .bouncy-castle {
        height: 10%;
        left: 90%;
        position: absolute;
      }
      
      .ball-shadow {
        background: radial-gradient(circle closest-side at 50% 50%, #000 0%, #fff 100%);
        height: 50px;
        width: 200px;
      }
      .bouncy-castle .ball-shadow {
        -webkit-animation-direction: alternate;
        -webkit-animation-duration: 1s;
        -webkit-animation-name: grow;
        -webkit-animation-iteration-count: infinite;
        animation-direction: alternate;
        animation-duration: 1s;
        animation-name: grow;
        animation-iteration-count: infinite;
        bottom: 0;
        position: absolute;
        margin-left: -100px;
      }
      
      .bouncy-castle .ball {
        -webkit-animation-direction: alternate;
        -webkit-animation-duration: 1s;
        -webkit-animation-name: bounce;
        -webkit-animation-iteration-count: infinite;
        animation-direction: alternate;
        animation-duration: 1s;
        animation-name: bounce;
        animation-iteration-count: infinite;
        margin-left: -100px;
        position: absolute;
      }
      
      @-webkit-keyframes grow {
        from {
          bottom: 0;
          margin-left: -100px;
          height: 50px;
          opacity: 1;
          width: 200px;
        }
      
        to {
          bottom: -15px;
          margin-left: -150px;
          height: 80px;
          opacity: 0.4;
          width: 300px;
        }
      }
      
      @keyframes grow {
        from {
          bottom: 0;
          margin-left: -100px;
          height: 50px;
          width: 200px;
            opacity: 1;
        }
      
        to {
          bottom: 20px;
          margin-left: 0;
          height: 10px;
          width: 15px;
        }
      }
      
      @-webkit-keyframes bounce {
        from {
          bottom: 20px;
        }
      
        to {
          bottom: 100%;
        }
      }
      
      @keyframes bounce {
        0%, 100% {
          transform: translateY(0);
        }
      
        50% {
          transform: translateY(-100%);
        }
      }
       */


/* .ball1 {
        width: 160px;
        height: 160px;
        background: radial-gradient(farthest-corner at 60px 45px, #aaa 0%, #8BD3E5 50%);
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        animation: bounce 2s infinite ease-in-out;
      }
      
      .content {
        color: #fff;
        text-align: center;
        font-weight: 500;
        font-size:20px
      }
    .ball-up {
        animation: bounce 2s infinite ease-in-out;
    }
    .ball-down {
        animation: bounce 3s infinite ease-in-out;
    }

    .ball-up {
        animation-direction: alternate; 
    }
    
      @keyframes bounce {
        0%, 100% {
          transform: translateY(0);
        }
        50% {
          transform: translateY(-200px);
        }
      }
      
     */


/*----------- unused caseStudies */

.main-box {
    position: relative;
    overflow: hidden;
    display: inline-block;
  
  }
  
  .manufacturing-content {
  
    color: #000000;
    display: none;
    text-align: justify;
    background-color: #a5dd92;
    position: relative;
    width: auto;
    height: 11rem;
    /* text-align: center; */
    padding: 8%;
    z-index: 1;
    pointer-events: none;
    opacity: 0;
    transition: opacity 2s ease-in-out 3s;
  
  }
  
  .main-box:hover .manufacturing-content {
    pointer-events: auto;
    display: block;
    opacity: 1;
  }
  
  /* .sales-box{
          position: relative;
          overflow: hidden;
          height:auto;
          display:block;
      }
      .sales-content{
          color: #000000;
          display:none;
          text-align: center;
          background-color: #E61463;
          position: relative;
          width:auto;
          height:11rem;
          padding: 10%;
          pointer-events: none;
          transition: opacity 0.3s;
          text-align: justify;
      }
      .sales:hover .sales-content{
          opacity:1;
          pointer-events: auto;
          display:block;
      } */
  
  .card4 {
    width: 17rem;
    height: 15rem;
    /* border: 1px solid #ccc; */
    border-radius: 10px;
    overflow: hidden;
    position: relative;
    background-image: url("/brainstorming 1.png");
    background-repeat: no-repeat;
    background-size: 100px;
    background-position: center;
    /* background-size: cover; */
  }
  
  /* .card1-content {
        padding: 20px;
        opacity: 1;
        transition: opacity 0.3s;
      } */
  
  .card4-overlay {
    position: absolute;
    top: 0%;
    width: 100%;
    height: 100%;
    background-color: #caffbf;
    color: #000000;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 0.3s;
  }
  
  .card4:hover .card4-content {
    opacity: 0;
    display: block;
  }
  
  .card4:hover .card4-overlay {
    opacity: 1;
  }
  
  
  
  .hr-box {
    position: relative;
    /* overflow: hidden; */
    /* border-right: 2px solid #f59866; */
    height: auto;
    display: inline-block;
  
  }
  
  .hr-content {
  
    color: #000000;
    display: none;
    text-align: center;
    text-align: justify;
    background-color: #f59866;
    position: relative;
    width: 100%;
    height: 11rem;
    padding: 10%;
    pointer-events: none;
    transition: opacity 0.3s;
  }
  
  .hr-box:hover .hr-content {
    opacity: 1;
    pointer-events: auto;
    display: block
  }
  
  .hr-box:hover .hr {
    display: none;
    border: none;
  }
  
  
  .agri-box {
    position: relative;
    overflow: hidden;
    height: auto;
  }
  
  .agri-content {
    color: #000000;
    display: none;
    text-align: center;
    text-align: justify;
    background-color: #d5afd4;
    position: relative;
    width: auto;
    height: 11rem;
    padding: 10%;
    pointer-events: none;
    transition: opacity 0.3s;
  }
  
  .agri-box:hover .agri-content {
    opacity: 1;
    pointer-events: auto;
    display: block
  }
  
  .agri-box:hover .agri {
    display: none;
  }

  /*--------------  working ball -------------------------*/
  

.ballWrapper {
    width: 140px;
    height: 300px;
    position: absolute;
    left: 90%;
    top: 50%;
    margin: -180px 0 0 -150px;
  }
  
  .ball {
    content: "veract";
    width: 120px;
    height: 120px;
    border-radius: 70px;
    background: radial-gradient(circle closest-side at 50% 50%, #f3ecc5 0%, #FBF0B2 100%);
    box-shadow: inset 0 -5px 15px rgba(255, 255, 255, 0.4),
      inset -2px -1px 40px rgba(0, 0, 0, 0.4),
      0 0 1px #000;
  }
  
  .ball:before {
    content: "";
    position: absolute;
    background: radial-gradient(circle at 50% 120%, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0) 70%);
    border-radius: 50%;
    bottom: 2.5%;
    left: 5%;
    opacity: 0.6;
    height: 100%;
    width: 90%;
    filter: blur(5px);
    z-index: 2;
  }
  
  .ball::after {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 25%;
    left: 10%;
    border-radius: 50%;
    background: radial-gradient(circle at 50% 50%, rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.8) 14%, rgba(255, 255, 255, 0) 24%);
    transform: translateX(-80px) translateY(-90px) skewX(-20deg);
    filter: blur(10px);
  }
  
  .ball .ballShadow {
    position: absolute;
    width: 100%;
    height: 100%;
    background: radial-gradient(circle at 50% 50%, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.1) 40%, rgba(0, 0, 0, 0) 50%);
    transform: rotateX(-90deg) translateZ(-150px);
    z-index: -1;
  }
  
  .ballShadow {
    width: 60px;
    height: 75px;
    position: absolute;
    z-index: 0;
    bottom: 0;
    left: 50%;
    margin-left: -30px;
    background: rgba(20, 20, 20, .1);
    box-shadow: 0px 0 20px 35px rgba(20, 20, 20, .1);
    border-radius: 50%;
  }
  
  .ball {
    animation: jump 2s infinite;
  }
  
  /* @keyframes jump {
        0% {
          top: 20px;
          transform:translateY(-100%);
        }
        50% {
          top: 140px;
          height: 140px;
          transform:translateY(-70%);
        }
        55% {
          top: 160px; 
          height: 120px; 
          border-radius: 70px / 60px;
        }
        65% {
          top: 120px; 
          height: 140px; 
          border-radius: 70px;
        }
        95% {
          top: 0;
        }
        100% {
          top: 0;
        }
      } */
  
  @keyframes jump {
  
    0%,
    100% {
      transform: translateY(80%);
    }
  
    55%,
    65% {
      border-radius: 50%;
    }
  
    50% {
      transform: translateY(0);
    }
  }
  
  .ballShadow {
    animation: shrink 2s infinite;
  }
  
  
  @keyframes shrink {
    0% {
      bottom: 0;
      margin-left: -30px;
      width: 60px;
      height: 75px;
      background: rgba(20, 20, 20, .1);
      box-shadow: 0px 0 20px 35px rgba(20, 20, 20, .1);
      /* border-radius: 50%; */
    }
  
    50% {
      bottom: 30px;
      margin-left: -10px;
      width: 20px;
      height: 5px;
      background: rgba(20, 20, 20, .3);
      box-shadow: 0px 0 20px 35px rgba(20, 20, 20, .3);
      /* border-radius: 50%; */
    }
  
    100% {
      bottom: 0;
      margin-left: -30px;
      width: 60px;
      height: 75px;
      background: rgba(20, 20, 20, .1);
      box-shadow: 0px 0 20px 35px rgba(20, 20, 20, .1);
      /* border-radius: 50%; */
  
    }
  }
  
  .ballWrapper {
    transform: scale(1);
    transition: all 5s linear 0s;
  }
  
  /* .ballWrapper:active {
        transform: scale(0);
      } */
  .ballWrapper {
    animation: slideIn 16s infinite;
  }
  
  /* @keyframes slideIn{
        0%{
          transform:scale(0);
        }
        50%{
          transform:scale(1);
        }
       
        100%{
          transform:scale(1);
        }
      } */
  
  
  
  .ball1 {
    content: "";
    width: 120px;
    height: 120px;
    border-radius: 50%;
    background: radial-gradient(circle closest-side at 50% 50%, #f8d6eb 0%, #FFC7EA 100%);
    box-shadow: inset 0 -5px 15px rgba(255, 255, 255, 0.4),
      inset -2px -1px 40px rgba(0, 0, 0, 0.4),
      0 0 1px #000;
  }
  
  .ball1:before {
    content: "";
    position: absolute;
    background: radial-gradient(circle at 50% 120%, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0) 70%);
    border-radius: 50%;
    bottom: 2.5%;
    left: 5%;
    opacity: 0.6;
    height: 100%;
    width: 90%;
    filter: blur(5px);
    z-index: 2;
  }
  
  .ball1::after {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 25%;
    left: 10%;
    border-radius: 50%;
    background: radial-gradient(circle at 50% 50%, rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.8) 14%, rgba(255, 255, 255, 0) 24%);
    transform: translateX(-80px) translateY(-90px) skewX(-20deg);
    filter: blur(10px);
  }
  
  .ball1 .ballShadow1 {
    position: absolute;
    width: 100%;
    height: 100%;
    background: radial-gradient(circle at 50% 50%, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.1) 40%, rgba(0, 0, 0, 0) 50%);
    transform: rotateX(-90deg) translateZ(-150px);
    z-index: -1;
  }
  
  .ballShadow1 {
    width: 30px;
    height: 75px;
    position: absolute;
    z-index: 0;
    bottom: 0;
    left: 50%;
    margin-left: -30px;
    background: rgba(20, 20, 20, .1);
    box-shadow: 0px 0 20px 35px rgba(20, 20, 20, .1);
    border-radius: 50%;
  }
  
  .ball1 {
    animation: jump1 5s infinite;
  }
  
  /* @keyframes jump {
        0% {
          top: 20px;
          transform:translateY(-100%);
        }
        50% {
          top: 140px;
          height: 140px;
          transform:translateY(-70%);
        }
        55% {
          top: 160px; 
          height: 120px; 
          border-radius: 70px / 60px;
        }
        65% {
          top: 120px; 
          height: 140px; 
          border-radius: 70px;
        }
        95% {
          top: 0;
        }
        100% {
          top: 0;
        }
      } */
  
  @keyframes jump1 {
  
    0%,
    100% {
      transform: translateY(100%);
    }
  
    55%,
    65% {
      border-radius: 50%;
    }
  
    50% {
      transform: translateY(0);
    }
  }
  
  .ballShadow1 {
    animation: shrink1 2s infinite;
  }
  
  @keyframes shrink1 {
    0% {
      bottom: 0;
      margin-left: -30px;
      width: 60px;
      height: 75px;
      background: rgba(20, 20, 20, .1);
      box-shadow: 0px 0 20px 35px rgba(20, 20, 20, .1);
      /* border-radius: 50%; */
    }
  
    50% {
      bottom: 30px;
      margin-left: -10px;
      width: 20px;
      height: 5px;
      background: rgba(20, 20, 20, .3);
      box-shadow: 0px 0 20px 35px rgba(20, 20, 20, .3);
      /* border-radius: 50%; */
    }
  
    100% {
      bottom: 0;
      margin-left: -30px;
      width: 60px;
      height: 75px;
      background: rgba(20, 20, 20, .1);
      box-shadow: 0px 0 20px 35px rgba(20, 20, 20, .1);
      /* border-radius: 50%; */
  
    }
  }
  
  .ballWrapper1 {
    animation: scaleAnimation 5s linear 0s 1 normal forwards;
  }
  
  @keyframes scaleAnimation {
    0% {
      transform: scale(0);
    }
  
    100% {
      transform: scale(1);
    }
  }
  
  .ballWrapper1 {
    animation: slideIn 8s infinite
  }
  
  @keyframes slideIn {
    0% {
      transform: scale(1);
      /* transform:scale(0); */
    }
  
    50% {
      transform: scale(1);
      transform: translateY(20%);
    }
  
    100% {
      transform: scale(0);
    }
  }
  
  
  .ball2 {
    content: "";
    width: 120px;
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background: radial-gradient(circle closest-side at 50% 50%, #dfcbf1 0%, #D8B4F8 100%);
    box-shadow: inset 0 -5px 15px rgba(255, 255, 255, 0.4),
      inset -2px -1px 40px rgba(0, 0, 0, 0.4),
      0 0 1px #000;
  }
  
  /* .ball2 p {
        padding-left: 40px;
        color: black;
        font-size: 20px;
      } */
  /* .ball2:before {
        content: "";
        position: absolute;
        background: radial-gradient(circle at 50% 120%, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0) 70%);
        border-radius: 50%;
        bottom: 2.5%;
        left: 5%;
        opacity: 0.6;
        height: 100%;
        width: 90%;
        filter: blur(5px);
        z-index: 2;
      }
      .ball2::after {
        content: "";
        width: 100%;
        height: 100%;
        position: absolute;
        top: 25%;
        left: 50%;
        border-radius: 50%;
        background: radial-gradient(circle at 50% 50%, rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.8) 14%, rgba(255, 255, 255, 0) 24%);
        transform: translateX(-80px) translateY(-90px) skewX(-20deg);
        filter: blur(10px);
      } */
  
  .ball2 .ballShadow2 {
    position: absolute;
    width: 100%;
    height: 100%;
    background: radial-gradient(circle at 50% 50%, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.1) 40%, rgba(0, 0, 0, 0) 50%);
    transform: rotateX(90deg) translateZ(150px);
    z-index: 1;
  }
  
  .ballShadow2 {
    width: 60px;
    height: 75px;
    position: absolute;
    z-index: 0;
    bottom: 0;
    left: 50%;
    margin-left: -30px;
    background: rgba(20, 20, 20, .1);
    box-shadow: 0px 0 20px 35px rgba(20, 20, 20, .1);
    border-radius: 50%;
  }
  
  .ball2 {
    animation: jump2 4s infinite;
  }
  
  /* @keyframes jump {
        0% {
          top: 20px;
          transform:translateY(-100%);
        }
        50% {
          top: 140px;
          height: 140px;
          transform:translateY(-70%);
        }
        55% {
          top: 160px; 
          height: 120px; 
          border-radius: 70px / 60px;
        }
        65% {
          top: 120px; 
          height: 140px; 
          border-radius: 70px;
        }
        95% {
          top: 0;
        }
        100% {
          top: 0;
        }
      } */
  
  @keyframes jump2 {
  
    0%,
    100% {
      transform: translateY(100%);
    }
  
    55%,
    65% {
      border-radius: 50%;
    }
  
    50% {
      transform: translateY(0);
    }
  }
  
  .ballShadow2 {
    animation: shrink2 2s infinite;
  }
  
  @keyframes shrink2 {
    0% {
      bottom: 0;
      margin-left: -30px;
      width: 60px;
      height: 75px;
      background: rgba(20, 20, 20, .1);
      box-shadow: 0px 0 20px 35px rgba(20, 20, 20, .1);
      /* border-radius: 50%; */
    }
  
    50% {
      bottom: 30px;
      margin-left: -10px;
      width: 20px;
      height: 5px;
      background: rgba(20, 20, 20, .3);
      box-shadow: 0px 0 20px 35px rgba(20, 20, 20, .3);
      /* border-radius: 50%; */
    }
  
    100% {
      bottom: 0;
      margin-left: -30px;
      width: 60px;
      height: 75px;
      background: rgba(20, 20, 20, .1);
      box-shadow: 0px 0 20px 35px rgba(20, 20, 20, .1);
      /* border-radius: 50%; */
  
    }
  }
  
  .ballWrapper2 {
    animation: scaleAnimation 5s linear 0s 1 normal forwards;
  }
  
  @keyframes scaleAnimation {
    0% {
      transform: scale(0);
    }
  
    50% {
      transform: scale(1);
    }
  
    100% {
      transform: scale(1);
    }
  }
  
  .ballWrapper2 {
    animation: slideIn 10s infinite
  }
  
  @keyframes slideIn {
    0% {
      transform: scale(1);
      transform: scale(0);
    }
  
    50% {
      transform: scale(0.5);
      transform: translateY(20%);
    }
  
    100% {
      transform: scale(0);
    }
  }
  
  
  .ball3 {
    content: "";
    width: 120px;
    height: 120px;
    border-radius: 50%;
    background: radial-gradient(circle closest-side at 50% 50%, #daedf7 0%, #CAEDFF 100%);
    box-shadow: inset 0 -5px 15px rgba(255, 255, 255, 0.4),
      inset -2px -1px 40px rgba(0, 0, 0, 0.4),
      0 0 1px #000;
  }
  
  .ball3:before {
    content: "";
    position: absolute;
    background: radial-gradient(circle at 50% 120%, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0) 70%);
    border-radius: 50%;
    bottom: 2.5%;
    left: 5%;
    opacity: 0.6;
    height: 100%;
    width: 90%;
    filter: blur(5px);
    z-index: 2;
  }
  
  .ball3::after {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 25%;
    left: 10%;
    border-radius: 50%;
    background: radial-gradient(circle at 50% 50%, rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.8) 14%, rgba(255, 255, 255, 0) 24%);
    transform: translateX(-80px) translateY(-90px) skewX(-20deg);
    filter: blur(10px);
  }
  
  .ball3 .ballShadow1 {
    position: absolute;
    width: 100%;
    height: 100%;
    background: radial-gradient(circle at 50% 50%, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.1) 40%, rgba(0, 0, 0, 0) 50%);
    transform: rotateX(-90deg) translateZ(-150px);
    z-index: -1;
  }
  
  .ballShadow3 {
    width: 60px;
    height: 75px;
    position: absolute;
    z-index: 0;
    bottom: 0;
    left: 50%;
    margin-left: -30px;
    background: rgba(20, 20, 20, .1);
    box-shadow: 0px 0 20px 35px rgba(20, 20, 20, .1);
    border-radius: 50%;
  }
  
  .ball3 {
    animation: jump3 6s infinite;
  }
  
  /* @keyframes jump {
        0% {
          top: 20px;
          transform:translateY(-100%);
        }
        50% {
          top: 140px;
          height: 140px;
          transform:translateY(-70%);
        }
        55% {
          top: 160px; 
          height: 120px; 
          border-radius: 70px / 60px;
        }
        65% {
          top: 120px; 
          height: 140px; 
          border-radius: 70px;
        }
        95% {
          top: 0;
        }
        100% {
          top: 0;
        }
      } */
  
  @keyframes jump3 {
  
    0%,
    100% {
      transform: translateY(100%);
    }
  
    55%,
    65% {
      border-radius: 50%;
    }
  
    50% {
      transform: translateY(0);
    }
  }
  
  .ballShadow3 {
    animation: shrink3 2s infinite;
  }
  
  @keyframes shrink3 {
    0% {
      bottom: 0;
      margin-left: -30px;
      width: 60px;
      height: 75px;
      background: rgba(20, 20, 20, .1);
      box-shadow: 0px 0 20px 35px rgba(20, 20, 20, .1);
      /* border-radius: 50%; */
    }
  
    50% {
      bottom: 30px;
      margin-left: -10px;
      width: 20px;
      height: 5px;
      background: rgba(20, 20, 20, .3);
      box-shadow: 0px 0 20px 35px rgba(20, 20, 20, .3);
      /* border-radius: 50%; */
    }
  
    100% {
      bottom: 0;
      margin-left: -30px;
      width: 60px;
      height: 75px;
      background: rgba(20, 20, 20, .1);
      box-shadow: 0px 0 20px 35px rgba(20, 20, 20, .1);
      /* border-radius: 50%; */
  
    }
  }
  
  .ballWrapper3 {
    animation: scaleAnimation 5s linear 0s 1 normal forwards;
  }
  
  @keyframes scaleAnimation {
    0% {
      transform: scale(0);
    }
  
    100% {
      transform: scale(1);
    }
  }
  
  .ballWrapper3 {
    animation: slideIn 12s infinite
  }
  
  @keyframes slideIn {
    0% {
      transform: scale(1);
      transform: scale(0);
    }
  
    50% {
      transform: scale(1);
    }
  
    100% {
      transform: scale(0);
    }
  }
  
  
  .ball4 {
    content: "veract";
    width: 160px;
    height: 160px;
    border-radius: 50%;
    background: radial-gradient(circle closest-side at 50% 50%, #92398e 0%, #94108d 100%);
    box-shadow: inset 0 -5px 15px rgba(255, 255, 255, 0.4),
      inset -2px -1px 40px rgba(0, 0, 0, 0.4),
      0 0 1px #000;
  }
  
  .ball4:before {
    content: "";
    position: absolute;
    background: radial-gradient(circle at 50% 120%, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0) 70%);
    border-radius: 50%;
    bottom: 2.5%;
    left: 5%;
    opacity: 0.6;
    height: 100%;
    width: 90%;
    filter: blur(5px);
    z-index: 2;
  }
  
  .ball4::after {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 25%;
    left: 10%;
    border-radius: 50%;
    background: radial-gradient(circle at 50% 50%, rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.8) 14%, rgba(255, 255, 255, 0) 24%);
    transform: translateX(-80px) translateY(-90px) skewX(-20deg);
    filter: blur(10px);
  }
  
  .ball4 .ballShadow1 {
    position: absolute;
    width: 100%;
    height: 100%;
    background: radial-gradient(circle at 50% 50%, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.1) 40%, rgba(0, 0, 0, 0) 50%);
    transform: rotateX(-90deg) translateZ(-150px);
    z-index: -1;
  }
  
  .ballShadow4 {
    width: 60px;
    height: 75px;
    position: absolute;
    z-index: 0;
    bottom: 0;
    left: 50%;
    margin-left: -30px;
    background: rgba(20, 20, 20, .1);
    box-shadow: 0px 0 20px 35px rgba(20, 20, 20, .1);
    border-radius: 50%;
  }
  
  .ball4 {
    animation: jump4 4s infinite;
  }
  
  /* @keyframes jump {
        0% {
          top: 20px;
          transform:translateY(-100%);
        }
        50% {
          top: 140px;
          height: 140px;
          transform:translateY(-70%);
        }
        55% {
          top: 160px; 
          height: 120px; 
          border-radius: 70px / 60px;
        }
        65% {
          top: 120px; 
          height: 140px; 
          border-radius: 70px;
        }
        95% {
          top: 0;
        }
        100% {
          top: 0;
        }
      } */
  
  @keyframes jump4 {
  
    0%,
    100% {
      transform: translateY(100%);
    }
  
    55%,
    65% {
      border-radius: 50%;
    }
  
    50% {
      transform: translateY(0);
    }
  }
  
  .ballShadow4 {
    animation: shrink4 1s infinite;
  }
  
  @keyframes shrink4 {
    0% {
      bottom: 0;
      margin-left: -30px;
      width: 60px;
      height: 75px;
      background: rgba(20, 20, 20, .1);
      box-shadow: 0px 0 20px 35px rgba(20, 20, 20, .1);
      /* border-radius: 50%; */
    }
  
    50% {
      bottom: 30px;
      margin-left: -10px;
      width: 20px;
      height: 5px;
      background: rgba(20, 20, 20, .3);
      box-shadow: 0px 0 20px 35px rgba(20, 20, 20, .3);
      /* border-radius: 50%; */
    }
  
    100% {
      bottom: 0;
      margin-left: -30px;
      width: 60px;
      height: 75px;
      background: rgba(20, 20, 20, .1);
      box-shadow: 0px 0 20px 35px rgba(20, 20, 20, .1);
      /* border-radius: 50%; */
  
    }
  }
  
  .ballWrapper4 {
    animation: scaleAnimation 10s linear 0s 1 normal forwards;
  }
  
  @keyframes scaleAnimation {
    0% {
      transform: scale(0);
    }
  
    100% {
      transform: scale(1);
    }
  }
  
  .ballWrapper4 {
    animation: slideIn 10s infinite
  }
  
  @keyframes slideIn {
    0% {
  
      transform: scale(1);
      transform: scale(0);
    }
  
    50% {
      transform: scale(1);
    }
  
    100% {
      transform: scale(0);
    }
  }
  
/* caseStudies trial unused*/
.circle {
    width: 630px;
    height: 600px;
    position: relative;
    margin: 0 auto;
    border-radius: 50%;
    background-color: lightgray;
    max-height: 100vh;
  }
  
  .factoryImage {
    display: flex;
    border: 2px solid #ffff;
    padding: 4%;
    border-radius: 50%;
    align-items: center;
    justify-items: center;
    background-color: #ffff;
  }
  
  .welnessImage {
    display: flex;
    border: 2px solid #ffff;
    padding: 4%;
    border-radius: 50%;
    align-items: center;
    justify-items: center;
    background-color: #ffff;
  
  }
  
  .salesImage {
    display: flex;
    border: 2px solid #ffff;
    padding: 4%;
    border-radius: 50%;
    align-items: center;
    justify-items: center;
    background-color: #ffff;
  }
  
  .fintechImage {
    display: flex;
    border: 2px solid #ffff;
    padding: 4%;
    border-radius: 50%;
    align-items: center;
    justify-items: center;
    background-color: #ffff;
  }
  
  
  
  /* .container {
    position: relative;
    display: flex;
    align-items: center;
    justify-items: center;
   
    overflow: hidden;
  } */
  
  .caseStudiesContainer {
    position: relative;
    display: flex;
    align-items: center;
    justify-items: center;
    /* flex-wrap: wrap; */
    /* overflow: hidden;; */
  
  }
  
  
  .test1 {
    border: 2px solid gray;
    border-radius: 10px;
    width: 30%;
    height: 10%;
  }


  /* contact us unused css of motoelectrix*/
  /*

  #contacts {
    background: rgb(252, 246, 246)
  }
  
  .contact-form-area {
    background: rgb(252, 246, 246)
  }
  
  .contact-input-icon-bg {
    background: rgb(252, 246, 246)
  }
  
  .contact-input-icon-bg img {
    width: 40px;
    height: 40px;
  }
  
  .form-control {
    background-color: var(--white-text-colour);
  }
  
  .placeholder {
    color: #000000;
  }
  
  .form-floating>label {
    color: rgba(38, 38, 38, 1);
  }
  
  input:focus~.floating-label,
  input:not(:focus):valid~.floating-label {
    top: 8px;
    bottom: 10px;
    left: 20px;
    font-size: 11px;
    opacity: 1;
  }
  
  .inputText {
    font-size: 14px;
    width: 200px;
    height: 35px;
  }
  
  .floating-label {
    position: absolute;
    pointer-events: none;
    left: 20px;
    top: 18px;
    transition: 0.2s ease all;
  }
  
  .contact-send-message-btn {
    background: var(--me-accent-color);
  }
  
  .form-check-input:checked {
    background-color: var(--me-accent-color);
    border-color: var(--me-accent-color);
  }
  
  
   */
  /* 
  .contactContainer {
    width: 80%;
    height: auto;
    border: none;
   
  
  }
  .contactFormBackground{
    background: #D9E4EB;
  
  } */
  
  