@import url('https://fonts.googleapis.com/css2?family=Syne:wght@400..800&display=swap');
@import "tailwindcss";
@theme{
  --color-background: #0d0d0d33;
  --breakpoint-sm: 480px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 1024px;
  --breakpoint-xl: 1280px;
  --breakpoint-2xl: 1536px;
}

::-webkit-scrollbar {
  display: none;
}

.navFont {
  font-family: "Syne", sans-serif;
}