@import url('https://fonts.googleapis.com/css2?family=Syne:wght@400..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Geist:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap');
@import "tailwindcss";

@theme {
  --color-background: #0d0d0d33;
  --color-white: #FFFFFF;
  --color-white-5: #FFFFFF0D;
  --color-white-50: #FFFFFF1A;
  --color-white-80: #FFFFFFCC;
  --color-black: #000000;
  --color-secondary-gray: #868586;
  --color-orange: #FF7A3B;
  --color-primary-blue: #4285F4;
  --color-primary-text: #0D0D0D;
  --color-primary-text-70: #0D0D0DB3;
  --color-primary-text-50: #0D0D0D80;
  --breakpoint-sm: 480px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 1280px;
  --breakpoint-xl: 1700px;
  --breakpoint-2xl: 1920px;
}

::-webkit-scrollbar {
  display: none;
}

html,
body {
  height: 100%;
}

.syneFont {
  font-family: "Syne", sans-serif;
}

.geistFont {
  font-family: "Geist";
}

.interFont {
  font-family: "Inter", sans-serif;
}

.poppinsFont {
  font-family: "Poppins", sans-serif;
}

.chakraPetchFont {
  font-family: "Chakra Petch", sans-serif;
}

.openSansFont {
  font-family: "Open Sans", sans-serif;
}

.dmSansFont {
  font-family: "DM Sans", sans-serif;
}

.figTreeFont {
  font-family: "Figtree", sans-serif;
}

@layer utilities {
  @keyframes blob-move {
    0% {
      left: -20rem;
      top: -3rem;
    }

    100% {
      left: 120rem;
      top: -3rem;
    }
  }

  @keyframes blob-reverse {
    0% {
      left: 120rem;
      top: -3rem;
    }

    100% {
      left: -20rem;
      top: -3rem;
    }
  }

  .animate-blob-move {
    animation: blob-move 0.7s ease-in forwards;
    left: 120rem;
    top: -3rem;
    opacity: 100;
  }

  .animate-blob-reverse {
    animation: blob-reverse 0.7s ease-out forwards;
    left: -120rem;
    top: -3rem;
    opacity: 100;
  }

}

#showreel-text {
  background: linear-gradient(132deg, rgba(247, 247, 247, 0.97) 11.6824%, rgba(0, 0, 0, 0) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

#case-study-banner-text {
  background-image: linear-gradient(160deg, rgb(255, 255, 255) 66.90644266773134%, rgba(0, 0, 0, 0) 94.2195452108111%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.animate-fade-in {
  animation: fade-in 0.2s ease-in-out 0.25s forwards;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.fadeInAnimation {
  transition: all 0.3s ease;
  animation: fadeIn 0.3s ease;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(0.5rem);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.easeTransition {
  transition: all 0.3s ease-in-out;
}

.ctaTransition {
  animation: ctaTransitionAnimation 0.3s ease-in-out forwards;
}

@keyframes ctaTransitionAnimation {
  from {
    display: block;
    left: 0rem;
  }

  to {
    display: block;
    left: 0.5rem;
  }
}

@keyframes roam-client {
  0% {
    transform: translate(0vw, 0vh);
  }

  20% {
    transform: translate(20vw, 20vh);
  }

  40% {
    transform: translate(40vw, -5vh);
  }

  60% {
    transform: translate(60vw, 20vh);
  }

  80% {
    transform: translate(80vw, -5vh);
  }

  100% {
    transform: translate(90vw, 0vh);
  }
}

@keyframes roam-industry {
  0% {
    transform: translate(90vw, 10vh);
  }

  20% {
    transform: translate(70vw, 25vh);
  }

  40% {
    transform: translate(50vw, 5vh);
  }

  60% {
    transform: translate(30vw, 25vh);
  }

  80% {
    transform: translate(10vw, 5vh);
  }

  100% {
    transform: translate(0vw, 10vh);
  }
}

@keyframes roam-project {
  0% {
    transform: translate(0vw, 0vh);
  }

  20% {
    transform: translate(10vw, 15vh);
  }

  40% {
    transform: translate(30vw, -10vh);
  }

  60% {
    transform: translate(50vw, 40vh);
  }

  80% {
    transform: translate(60vw, 10vh);
  }

  100% {
    transform: translate(80vw, 10vh);
  }
}

@keyframes roam-found {
  0% {
    transform: translate(0vw, 0vh);
  }

  20% {
    transform: translate(20vw, 20vh);
  }

  40% {
    transform: translate(40vw, -5vh);
  }

  60% {
    transform: translate(60vw, 20vh);
  }

  80% {
    transform: translate(80vw, -5vh);
  }

  100% {
    transform: translate(90vw, 0vh);
  }
}


.orb-path-client,
.orb-path-industry,
.orb-path-project,
.orb-path-found {
  position: absolute;
  top: 0vh;
  left: 0vw;
  border-radius: 50%;
  filter: blur(60px);
  opacity: 0.3;
  pointer-events: none;
  animation-timing-function: linear;
  animation-direction: alternate;
  animation-iteration-count: infinite;
}

.orb-path-client {
  width: 700px;
  height: 680px;
  background: #002FFF;
  animation-name: roam-client;
  animation-duration: 7s;
}

.orb-path-industry {
  width: 800px;
  height: 770px;
  background: #002FFF;
  animation-name: roam-industry;
  animation-duration: 7s;
}

.orb-path-project {
  width: 304.4px;
  height: 279.73px;
  background: #4285F4;
  animation-name: roam-project;
  animation-duration: 7s;
}

.orb-path-found {
  width: 340px;
  height: 220px;
  background: #4285F4;
  animation-name: roam-found;
  animation-duration: 7s;
}

.gradient-text {
  background: linear-gradient(160deg, rgb(255, 255, 255) 66.90644266773134%, rgba(0, 0, 0, 0) 94.2195452108111%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.animate {
  height: 2px;
  background-color: #FFFFFF;
  animation: animate_keyframe 1.5s ease forwards;
}

@keyframes animate_keyframe {
  0% {
    width: 0;
  }

  100% {
    width: 5rem;
  }
}

@keyframes grow-line {
  0% {
    transform: scaleX(0) scaleY(1);
    transform-origin: left;
  }

  50% {
    transform: scaleX(1) scaleY(1);
    transform-origin: left;
  }

  60% {
    transform-origin: right;
  }

  100% {
    transform: scaleX(1) scaleX(0);
    transform-origin: right;
  }
}

.animate-grow-line {
  width: 5rem;
  height: 2px;
  animation: grow-line 1.75s ease-in infinite;
  transform: scaleX(0);
  transform-origin: left;
}

.agenticLayerBase {
  background: linear-gradient(180deg, rgba(102, 102, 102, 0.20) 0%, rgba(102, 102, 102, 0.00) 32.69%), linear-gradient(180deg, rgba(102, 102, 102, 0.00) 50%, rgba(102, 102, 102, 0.40) 100%), linear-gradient(0deg, rgba(0, 0, 0, 0.10) 0%, rgba(0, 0, 0, 0.10) 100%), linear-gradient(0deg, rgba(29, 29, 29, 0.30) 0%, rgba(29, 29, 29, 0.30) 100%), rgba(29, 29, 29, 0.10);
  background-blend-mode: plus-lighter, plus-lighter, normal, color-burn, overlay;
  box-shadow: 3px 3px 0.5px -3.5px rgba(255, 255, 255, 0.50) inset, 2px 2px 1px -2px #B3B3B3 inset, -2px -2px 1px -2px #B3B3B3 inset, 0px 0px 22px 0px rgba(242, 242, 242, 0.50) inset;
}

.animate-agentic-layer {
  animation-name: agenticLayerAnimation;
  animation-duration: 3s;
  animation-timing-function: ease-in;
  animation-fill-mode: both;
  animation-timeline: view();
  animation-range: entry 5% cover 35%;
  position: absolute;
}

@keyframes agenticLayerAnimation {
  0% {
    opacity: 0;
    top: -100px;
    left: -100px;
    scale: 0.25;
  }

  100% {
    opacity: 1;
    top: 51px;
    left: 51px;
    scale: 1;
  }
}

.animate-agentic-layer-opacity {
  animation-name: agenticLayerOpacityAnimation;
  animation-duration: 2s;
  animation-delay: 5s;
  animation-timing-function: ease-in;
  animation-fill-mode: both;
  animation-timeline: view();
  animation-range: entry 20% cover 35%;
}

@keyframes agenticLayerOpacityAnimation {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.animate-agentic-layer-shadow {
  animation-name: agenticLayerShadowAnimation;
  animation-duration: 2s;
  animation-delay: 5s;
  animation-timing-function: ease-in;
  animation-fill-mode: both;
  animation-timeline: view();
  animation-range: entry 20% cover 35%;
}

@keyframes agenticLayerShadowAnimation {
  0% {
    box-shadow: none;
  }

  100% {
    box-shadow: 0px 0px 12px 1px #008FFF inset;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  @keyframes agenticLayerAnimationTablet {
    0% {
      opacity: 0;
      top: -100px;
      left: -100px;
    }

    100% {
      opacity: 1;
      top: 1.77rem;
      left: 1.87rem;
    }
  }

  .animate-agentic-layer {
    animation-name: agenticLayerAnimationTablet !important;
  }
}

@media (min-width: 0) and (max-width: 480px) {
  .animate-agentic-layer {
    animation-name: agenticLayerAnimationMobile !important;
  }

  @keyframes agenticLayerAnimationMobile {
    0% {
      opacity: 0;
      top: 0;
      scale: 0.25;
    }

    100% {
      opacity: 1;
      top: 1.25rem;
      scale: 1;
    }
  }
}

.page-not-found-CTA-boxShadow {
  box-shadow: 0px 0px 0px 3px #FFFFFF26 inset,
    0px 8px 40px 0px #0055FF80,
    0px 0px 10px 1px #FFFFFF00,
    0px 0px 0px 1px #0055FF1F;
  transition: all 0.3s ease;
}

.page-not-found-CTA-boxShadow:hover {
  box-shadow: 0px 0px 0px 3px #FFFFFF26 inset,
    0px 8px 40px 0px #0055FFB3,
    0px 0px 10px 1px #FFFFFF4D,
    0px 0px 0px 5px #4285F433;
}

.agentFooterTitle {
  background: linear-gradient(0.07383128568086761deg, rgba(0, 85, 255, 0.08) 0%, rgba(153, 153, 153, 0.1) 100%);
}

.agentFooterTitleColor {
  background-image: linear-gradient(90deg, rgb(255, 255, 255) 0%, rgba(153, 153, 153, 0) 350%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.react-tel-input .country-list .country:hover {
  background-color: #333 !important;
  color: white !important;
}

.react-tel-input .flag-dropdown {
  background: transparent;
  border: none;
}

.react-tel-input .selected-flag {
  background-color: transparent !important;
}

.react-tel-input .flag-dropdown.open .selected-flag {
  background-color: #333 !important;
}

/* In your global CSS file, e.g., styles/globals.css */
.react-tel-input .country-list .country.highlight,
.react-tel-input .country-list .country:focus,
.react-tel-input .country-list .country:hover,
.react-tel-input .country-list .country.active {
  background-color: #333 !important;
  color: #fff !important;
}

.react-tel-input .country-list .country.highlight .country-name,
.react-tel-input .country-list .country.active .country-name {
  color: #fff !important;
}

.animate-spin-slow {
  animation: spin 2.5s linear infinite;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.animate-spin-clockwise {
  animation: spin-clockwise 4s linear infinite;
}

@keyframes spin-clockwise {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.animate-spin-reverse {
  animation: spin-reverse 4s linear infinite;
}

@keyframes spin-reverse {
  from {
    transform: rotate(360deg);
  }

  to {
    transform: rotate(0deg);
  }
}


.animate-coding {
  animation: coding 10s ease-in-out infinite;
}

@keyframes coding {
  from {
    transform: translateY(0);
  }

  to {
    transform: translateY(-100%);
  }
}

.animate-processing-line {
  animation: processing-line 2s ease-in-out infinite;
}

@keyframes processing-line {
  0% {
    left: -3rem;
  }

  100% {
    left: 100%;
  }
}

.animate-processing-applications {
  animation: processing-applications 20s ease-in-out infinite;
}

@keyframes processing-applications {
  0% {
    transform: translateY(0);
  }

  20% {
    transform: translateY(0);
  }

  25% {
    transform: translateY(-21%);
  }

  40% {
    transform: translateY(-21%);
  }

  45% {
    transform: translateY(-42%);
  }

  65% {
    transform: translateY(-42%);
  }

  70% {
    transform: translateY(-63%);
  }

  95% {
    transform: translateY(-63%);
  }

  100% {
    transform: translateY(-85%);
  }
}

.animate-arrow-upwards {
  animation: arrow-upwards 1.75s ease infinite;
}

@keyframes arrow-upwards {
  0% {
    transform: translateY(0);
  }

  60% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(-135%);
  }
}

@media (max-width: 374px) {
  .scale-down {
    scale: 0.9;
  }
}

.contact_us_shadow {
  box-shadow: 0px 8px 40px 0px #0055FF80,
    0px 0px 10px 1px #FFFFFF00;
}

.contact_us_shadow:hover {
  box-shadow: 0px 8px 40px 0px #0055FFB3,
    0px 0px 10px 1px #FFFFFF4D;
}

.error_contact_us_shadow {
  box-shadow: 0px 8px 40px 0px #FF224480;
}

.animate-active-faq-hover {
  position: absolute;
  height: 322px;
  animation: faq-hover-active 0.3s ease-in-out;
  animation-direction: alternate;
  top: -125%;
}

@keyframes faq-hover-active {
  from {
    top: -90%;
    height: 121px;
  }

  to {
    top: -125%;
    height: 322px;
  }
}

.scrollSnap {
  touch-action: pan-y;
  overscroll-behavior: none !important;
  scroll-snap-type: none;
}

input:-webkit-autofill,
textarea:-webkit-autofill,
select:-webkit-autofill {
  -webkit-box-shadow: #fff/10 inset !important;
  -webkit-text-fill-color: white !important;
  transition: background-color 5000s ease-in-out 0s;
}

.react-tel-input .selected-flag {
  width: 42px !important;
  height: 90% !important;
  top: 1px !important;
  left: 3px !important;
}

@media only screen and (max-width: 768px) {
  .react-tel-input .country-list {
    width: 227px !important;
  }
}

@media only screen and (max-width: 768px) {
  .react-tel-input .country-list {
    width: 227px !important;
  }
}

.service_bottom_border {
  background: linear-gradient(90deg, rgba(255, 255, 255, 0.00) 12.44%, rgba(255, 255, 255, 0.20) 50%, rgba(255, 255, 255, 0.00) 90.86%);
}

@media only screen and (max-width: 768px) {
  .service_bottom_border {
    background: linear-gradient(90deg, rgba(255, 255, 255, 0.00) 0%, rgba(255, 255, 255, 0.20) 50%, rgba(255, 255, 255, 0.00) 100%);
  }
}

@media only screen and (max-width: 1024px) {
  .service_bottom_border {
    background: linear-gradient(90deg, rgba(255, 255, 255, 0.00) 0%, rgba(255, 255, 255, 0.20) 50%, rgba(255, 255, 255, 0.00) 100%);
  }
}

.faqBackgroundOverlay {
  background-image: url('/Images/LandingPage/FAQ/Lines.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.testimonial_blurred_text {
  color: #666873;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
}

.testimonial_text_blur {
  filter: blur(1.5px);
}

.testimonial_white_text {
  color: #FFFFFF;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
}

.testimonial_primary_text {
  color: #4285F4;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
}