@import url('https://fonts.googleapis.com/css2?family=Syne:wght@400..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import "tailwindcss";
@theme{
  --color-background: #0d0d0d33;
  --breakpoint-sm: 480px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 1024px;
  --breakpoint-xl: 1280px;
  --breakpoint-2xl: 1536px;
}

::-webkit-scrollbar {
  display: none;
}

html, body {
  height: 100%;
  /* overflow: hidden; */
}

.syneFont {
  font-family: "Syne", sans-serif;
}

.interFont {
  font-family: "Inter", sans-serif;
}

/* #casestudy-banner-container {
  transform-origin: center bottom;
  transition: all 0.3s ease;
} */